<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Homepage</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Incubyte</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
        	<div th:if="${flag}" class="alert alert-success" role="alert" th:text="${message}">
			</div>
            <table id="example" class="table table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Word</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
	                <tr th:each="words : ${words}">
	                	<td th:text="${words.id}"></td>
	                	<td th:text="${words.word}"></td>
	                	<td>
	                		<a th:href="@{/delete/{id}(id=${words.id})}" class="btn btn-primary active" role="button" onclick="return confirm('Are you sure?')">DELETE</a>
	                		<a th:href="@{/update/{id}(id=${words.id})}" class="btn btn-primary active" role="button">UPDATE</button>
	                	</td>
	                </tr>
                </tbody>
            </table>
            <div class="col-md-3">
            	<a th:href="@{/save}" class="btn btn-primary active">Add New</a>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script>


</script>

</body>
</html>